DATABASE_URL="postgresql://firefliuser:strongpassword@localhost:5432/fflidb" - Your connection string (e.g. hosted on Supabase, Railway, Neon, etc.)
SESSION_SECRET="" - A strong secret string (e.g. generated via openssl rand -base64 32)
ENCRYPTION_KEY="" - Encrypt your Discord intergration (e.g. generated via openssl rand -base64 64)
NEXTAUTH_URL="" - Your Domain/Connection URL (e.g. https://domain.domain.com - no / at end.)
